---
import Layout from "../layouts/Layout.astro";

interface Project {
  name: string;
  description: string;
  github: string;
  url: string;
}

const title = "Projects";
const description = "Code Institute portfolio and other notable projects";

const projects: Project[] = [
  {
    name: "The Beginner's Gambit",
    description: "Chess rules as documentation",
    github: "https://github.com/arlandfran/the-beginners-gambit-mdx",
    url: "https://the-beginners-gambit.vercel.app/",
  },
  {
    name: "Anime Corner Rankings",
    description: "Anime Corner's weekly graphic translated to the web",
    github: "https://github.com/arlandfran/anime-corner-rankings",
    url: "https://anime-corner-rankings.vercel.app/",
  },
  {
    name: "h17ku",
    description: "Twitter inspired social media platform for haiku",
    github: "https://github.com/arlandfran/h17ku",
    url: "https://h17ku.onrender.com/",
  },
  {
    name: "White Library",
    description: "Digital store for limited edition Black Library collectibles",
    github: "https://github.com/arlandfran/white-library",
    url: "https://white-library.onrender.com/",
  },
];
---

<Layout {title} {description}>
  <h1 class="mt-4 font-mono font-medium">{description}</h1>
  {
    projects.map((project) => (
      <article class="mt-4 flex flex-col gap-2">
        <h2 class="font-medium">{project.name}</h2>
        <p class="text-neutral-400">{project.description}</p>
        <ul class="flex flex-wrap gap-x-8 gap-y-2">
          <li>
            <a
              href={project.github}
              target="_blank"
              rel="noopener noreferrer"
              class="font-mono text-sm tracking-tight underline"
            >
              source code
            </a>
          </li>
          <li>
            <a
              href={project.url}
              target="_blank"
              rel="noopener noreferrer"
              class="font-mono text-sm tracking-tight underline"
            >
              live project
            </a>
          </li>
        </ul>
      </article>
    ))
  }
</Layout>
